{% extends 'base.html' %}
{% block title %}Cart{% endblock title %}
{% block body %}


{% if total == 0%}
<h3 id="noProduct">No products in the cart!!!</h3>
<img src="https://media.istockphoto.com/id/1332083145/photo/image-of-dog-trolley-white-background.jpg?b=1&s=170667a&w=0&k=20&c=jIQ6jBxd2dVY3DnDihno11QvI8ws80pyquxfShE8fkY="
    alt="">
{% endif %}
<div style="display: flex;">
    <div class="m-3 album" style="max-width: 540px;">
        {% for i, value in product.items %}
        <div class="row g-0" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <img src="{{i.productImage}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{i.productName}}</h5>
                    <h4 style="color:brown;">&#8377;{{i.productPrice}}</h4>
                    <h5 style="color:black;">Qty: {{value}}</h5>
                    <div style="display: flex; margin:0px;">
                        <div style="margin-right:40px;">
                            <form action="/add" method="POST" class="col-2">
                                {% csrf_token %}
                                <input hidden type="text" value="{{i.productId}}" name="product">
                                <input hidden type="text" value="True" name="remove">
                                <input type="submit" value=" - " class="btn btn-block btn-secondary">
                            </form>
                        </div>
                        <div>
                            <form action="/add" method="POST" class="col-2">
                                {% csrf_token %}
                                <input hidden type="text" value="{{product.0.productId}}" name="product">
                                <input type="submit" value=" + " class="btn btn-block btn-secondary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row m-4">
            <div class="col-sm-12">
                <div class="card-body" style="margin-left: 50%;">

                    {% if total != 0 %}
                    <form action="/pay">
                        <h4 class="card-text">Total: {{total}}</h4>
                        <input type="submit" class="btn btn-block btn-secondary" value="Proceed to Buy"><br><br>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock body %}