{% extends 'base.html' %}
{% block title %}Product #{{product.0.productId}}{% endblock title %}
{% block body %}


{% load cart %}
    

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{product.0.productImage}}" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500"
        loading="lazy">
    </div>
    <div class="col-lg-6" id="product.0.productId">
      <h1 class="display-5 fw-bold lh-1 mb-3">{{product.0.productName}}</h1>
      <h2 class="lead" id="price">&#8377;{{product.0.productPrice}}</h2>
      <p class="lead">{{product.0.productDescription}}</p>



      <div class="card-footer p-0 row no-gutters">

        {% if product.0.productId|is_in_cart:userId %}
        <div class="row no-gutters">
          <form action="/add" method="POST" class="col-2">
            {% csrf_token %}
            <input hidden type="text" value="{{i.productId}}" name="product">
            <input hidden type="text" value="True" name="remove">
            <input type="submit" value=" - " class="btn btn-block btn-secondary">
          </form>
          <div class="text-center col">{{product.0.productId|product_count:userId}} in cart</div>

          <form action="/add" method="POST" class="col-2">
            {% csrf_token %}
            <input hidden type="text" value="{{product.0.productId}}" name="product">
            <input type="submit" value=" + " class="btn btn-block btn-secondary">
          </form>
        </div>

        {% else %}
        <form action="/add" method="POST" class="btn-block">
          {% csrf_token %}
          <input hidden type="text" value="{{product.0.productId}}" name="product">
          <input type="submit" class="btn btn-outline-success form-control" value="Add to Cart">
        </form>
        {% endif %}
      </div>




    </div>
  </div>
</div>
{% endblock body %}