{% extends 'base.html' %}
{% block title %}Payment Status{% endblock title %}
{% block body %}

    {% if status %}
    <div class="container" style="text-align: center;">
        <img src="https://media.istockphoto.com/id/182436004/photo/green-check-mark.jpg?b=1&s=170667a&w=0&k=20&c=XepXFPB-1vjZ7aOD8ekO2n-IIcdPLVQouXdXYIz7Y2A=" alt="">
        <h2 style="text-align: center;">Thank You! Your payment was successful.</h2>
    </div>
    {% else %}
    <div class="container" style="text-align: center;>
        <img src="https://media.istockphoto.com/id/938396020/photo/no-sign-on-isolated-white-background.jpg?s=612x612&w=0&k=20&c=KrkO01NGnhca4AzCe65dSLb-b_aCjCcbaxQxhn7RA2I=" alt="">
        <h2 style="text-align: center;">Your Payment is Failed! Try Again.</h2>
    </div>
    {% endif %}
    <div class="container" style="text-align:center;">
    <a href="/shop/home" class="btn btn-block btn-secondary" role="button">Continue Shopping</a>
    </div>
{% endblock body %}